<p>login works!</p>

<!-- <input type="email" [(ngModel)]="email" placeholder="Enter your email">
<button (click)="validateEmail()">Submit</button> -->

<div id="g_id_onload"
     data-client_id="334864835213-gu9fqapuer72n0nfn70jgkqjl4fibn5l.apps.googleusercontent.com"
     data-context="use"
     data-ux_mode="popup"
     data-login_uri="http://localhost:8080/kalki"
     data-auto_select="true"
     data-callback="onGoogleSignIn"
     data-itp_support="true">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="pill"
     data-theme="filled_blue"
     data-text="continue_with"
     data-size="medium"
     data-logo_alignment="left"
     data-callback="onGoogleSignIn">
</div>
